<ion-header>
  <ion-toolbar>
    <ion-title>Help Desk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   
   
    
      
    <ion-slides class="tipsSlides" options={slideOpts}>
      <ion-slide class="slide"  ><br>
        Maintain at least 1 metre (3 feet) distance between yourself and anyone who is coughing or sneezing.
        
      </ion-slide>
      <ion-slide class="slide"><br>
        Regularly and thoroughly clean your hands with an alcohol-based hand rub or wash them with soap and water.
      </ion-slide>
      <ion-slide class="slide"><br>
        If you have fever, cough and difficulty breathing, seek medical care early.
      </ion-slide>
      <ion-slide class="slide"><br>
        Avoid touching eyes, nose and mouth. #StayHomeStaySafe
      </ion-slide>
      <ion-slide class="slide"><br>
        WHO Health Alert brings COVID-19 facts to billions via WhatsApp.
      </ion-slide>
      
    </ion-slides>
  
  <br>
  <br>
  



    <ion-list>
      <ion-card>
      <ion-item>
        <ion-label>Call WHO helpline Number</ion-label>
        <ion-button   expand="full" fill="outline" slot="end" color='secondary' size="small" href="tel:+41-22-7912111"><ion-icon name="call"> </ion-icon>Call</ion-button>
      </ion-item>
    </ion-card>
 

    <ion-card>
      <ion-item>
        <ion-label>Email WHO Team</ion-label>
        <ion-button  expand="full" fill="outline" color='warning' size="small" href="mailto:mediainquiries@who.int"><ion-icon name="mail"></ion-icon>Email</ion-button>
      </ion-item>
    </ion-card>
 

    <ion-card>
      <ion-item>
        <ion-label>Text 'Hi' to WHO helpdesk</ion-label>
        
        <ion-button  expand="full" fill="outline" color='tertiary' size="small" href="https://api.whatsapp.com/send?phone=41798931892&text=hi&source=&data="><ion-icon name="logo-whatsapp"></ion-icon>Text</ion-button>
      </ion-item>
    </ion-card>
  
    <ion-card>
      <ion-item>
        <ion-label>Donate via WHO website</ion-label>
        <ion-button  expand="full" fill="outline"  color='warning' size="small"  href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/donate"><ion-icon name="card"></ion-icon>Donate</ion-button>
      </ion-item>
    
  </ion-card>

</ion-list>

</ion-content>