<ion-header>
  <ion-toolbar>
    <ion-title>Coronalytics</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
     <ion-card>
    <ion-card-content>
      <canvas #barChart></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <canvas #horizontalBar></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <canvas #pieChart></canvas>
    </ion-card-content>
  </ion-card>

  </ion-content>
